.input-group {
    display: grid;
    gap: 0.375rem;
    font-size: 0.875rem;
}

.input-group:last-of-type {
    margin-bottom: 1rem;
}

.input {
    font: inherit;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    background-color: var(--clr-neutral-700);
    border: none;
    color: inherit;
    border-radius: 0.75rem;
}

.input:focus {
    outline: 2px solid var(--clr-primary);
}

.input-group-error {
    color: var(--clr-error);
}

.input-error {
    outline: 2px solid var(--clr-error)
}
